/**
 * Copyright (c) 2017-present, Facebook, Inc.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: rgb(37,194,160);
  background: linear-gradient(180deg, rgba(37,194,160,1) 32%, rgba(31,150,124,1) 100%);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction:row;
  justify-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  /* height: 200px;
  width: 200px; */
}

