/**
 * Copyright (c) 2017-present, Facebook, Inc.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
}

.external img {
  width: 10px;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: '';
  width: 40px;
  height: 40px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22logo_art%22%20data-name%3D%22logo%20art%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20586%20559%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fc6d26%3B%7D.cls-2%7Bfill%3A%23e24329%3B%7D.cls-3%7Bfill%3A%23fca326%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Egitlab-icon-rgb%3C%2Ftitle%3E%3Cg%20id%3D%22g44%22%3E%3Cpath%20id%3D%22path46%22%20class%3D%22cls-1%22%20d%3D%22M461.17%2C301.83l-18.91-58.12L404.84%2C128.43a6.47%2C6.47%2C0%2C0%2C0-12.27%2C0L355.15%2C243.64H230.82L193.4%2C128.43a6.46%2C6.46%2C0%2C0%2C0-12.26%2C0L143.78%2C243.64l-18.91%2C58.19a12.88%2C12.88%2C0%2C0%2C0%2C4.66%2C14.39L293%2C435%2C456.44%2C316.22a12.9%2C12.9%2C0%2C0%2C0%2C4.73-14.39%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22g48%22%3E%3Cpath%20id%3D%22path50%22%20class%3D%22cls-2%22%20d%3D%22M293%2C434.91h0l62.16-191.28H230.87L293%2C434.91Z%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22g56%22%3E%3Cpath%20id%3D%22path58%22%20class%3D%22cls-1%22%20d%3D%22M293%2C434.91%2C230.82%2C243.63h-87L293%2C434.91Z%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22g64%22%3E%3Cpath%20id%3D%22path66%22%20class%3D%22cls-3%22%20d%3D%22M143.75%2C243.69h0l-18.91%2C58.12a12.88%2C12.88%2C0%2C0%2C0%2C4.66%2C14.39L293%2C435%2C143.75%2C243.69Z%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22g72%22%3E%3Cpath%20id%3D%22path74%22%20class%3D%22cls-2%22%20d%3D%22M143.78%2C243.69h87.11L193.4%2C128.49a6.47%2C6.47%2C0%2C0%2C0-12.27%2C0l-37.35%2C115.2Z%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22g76%22%3E%3Cpath%20id%3D%22path78%22%20class%3D%22cls-1%22%20d%3D%22M293%2C434.91l62.16-191.28H442.3L293%2C434.91Z%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22g80%22%3E%3Cpath%20id%3D%22path82%22%20class%3D%22cls-3%22%20d%3D%22M442.24%2C243.69h0l18.91%2C58.12a12.85%2C12.85%2C0%2C0%2C1-4.66%2C14.39L293%2C434.91l149.2-191.22Z%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22g84%22%3E%3Cpath%20id%3D%22path86%22%20class%3D%22cls-2%22%20d%3D%22M442.28%2C243.69h-87.1l37.42-115.2a6.46%2C6.46%2C0%2C0%2C1%2C12.26%2C0l37.42%2C115.2Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
    no-repeat;
}


main {
  scroll-padding-top: 60px;
}
