.container {
  position: relative;
  padding-top: 2.5em;
}

.container .button-container {
  position: absolute;
  right: 0.5em;
  top: 0.8em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .button-container .button{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.5em;
  color: var(--ifm-color-primary-dark);
  font-size: 0.7em;
  border: none;
  cursor: pointer;
}

.container strong {
  font-size: 1.4em;
  color: var(--ifm-color-primary-dark);
}

.container code {
  font-family: monospace;
  outline: none;
}

